     <footer class="footer">
    	<div class="container">
    		<p>© 2017 Text Support. All rights reserved.</p>
    	</div><!-- Container Ends -->
	</footer><!-- Footer Ends -->
<script src="<%= baseURL %>/javascripts/bootstrap.min.js"></script>
<script src="<%= baseURL %>/javascripts/angular-script.js"></script>

</body>
</html>
