     <footer class="footer">
    	<div class="container">
    		
    	</div><!-- Container Ends -->
	</footer><!-- Footer Ends -->
<script src="<%= baseURL %>/javascripts/bootstrap.min.js"></script>
<script src="<%= baseURL %>/javascripts/angular-script.js"></script>

</body>
</html>
