<%- include('partials/header') %>


	<section class="hero-section">
		<div class="container">
			<div class="banner-text">
	    		<h2>Lorem Ipsum Dolor Sit Amet</h2>
	    		<h3>Lorem Ipsum Dolor Sit Amet</h3>
	    	</div>
	    </div><!-- Container Ends -->
   </section><!-- Hero Section Ends -->

    <section class="btn-section">
    	<div class="container">
    		<a href="/signup" title="" class="get-btn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Get Started</a>
    		<a href="/login" title="" class="login-btn"><i class="fa fa-power-off" aria-hidden="true"></i> Login</a>
    	</div><!-- Container Ends -->
    </section><!--Button Section Ends-->
</div><!--Wrapper End-->
   <%- include('partials/footer') %>
