<%- include('partials/header') %>

<div class="container" >

  <h2>Register User</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" ng-model="name" placeholder="Enter name" name="name">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="email">email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" ng-model="email" placeholder="Enter Email" name="email">
      </div>
    </div>
	  <div class="form-group">
      <label class="control-label col-sm-2" for="library">library:</label>
      <div class="col-sm-10">          
       <select name="library" ng-model="library" class="form-control">
	  
    <option ng-repeat="library in librarObj"
            value="{{library._id}}">
      {{library.name}}
    </option>
</select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" ng-model="password" placeholder="Enter password" name="pwd">
      </div>
    </div>
	
   <!-- <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
      </div>
    </div>-->
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-click = "regUser(this)" class="btn btn-default">register</button>
      </div>
    </div>
  </form>
</div>

<hr><hr>
 <h2>Login</h2>
  <form class="form-horizontal">
    
	<div class="form-group">
      <label class="control-label col-sm-2" for="email">email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" ng-model="email" placeholder="Enter Email" name="email">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" ng-model="password" placeholder="Enter password" name="pwd">
      </div>
    </div>
	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-click = "login(this)" class="btn btn-default">login</button>
      </div>
    </div>
  </form>
</div>
   <%- include('partials/footer') %>
